.todos-container {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-right: 10em;
}

.overflow-auto {
  width: 300px;
  overflow: visible;
  max-height: 700px;
}

.title {
  padding-bottom: 20px;
}

.card-text {
  max-width: 1000px;
  overflow-y: scroll;
}
