/* Set content for sizes */
.text-editor {
  width: 700px;
  display: inline-block;
}

.comments {
  font-size: 15px;
  height: 250px;
  font-family: "Georgia";
}

.quill .ql-editor {
  font-size: 15px;
  height: 250px;
}
.ql-size-normal,
.ql-size span[data-value="normal"]::before {
  font-size: 15px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 20px !important;
}
.ql-size-huge,
.ql-size span[data-value="huge"]::before {
  font-size: 25px !important;
}

.btn .btn-success .btn-lg .btn-block {
  margin-bottom: 100px !important;
}
